.gwf-wrapper {
  position: relative;
  display: inline-block;
}
.gwf-wrapper .ui-icon {
  cursor: pointer;
  position: absolute;
  top: 0.33em;
  right: 0.33em;
}
.gwf-input, .gwf-list {
  font-size: 18px;
  line-height: 1em;
}
.gwf-input {
  cursor: pointer;
  border-width: 1px;
  width: 9em;
  height: 1.5em;
  padding: 0 1.5em 0 0.5em;
}
ul.gwf-list {
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 11em;
  max-height: 12em;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
}
ul.gwf-list li {
  cursor: pointer;
  white-space: nowrap;
  padding: 0.25em 0.5em;
}
ul.gwf-list li.selected {
  background: #339;
  color: #fff;
}
